.upperSection {
  display: flex;
  flex-direction: row;
}

.temperature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.temperature h1 {
  margin: 0;
}

.upperSection img {
  width: 80px;
  height: 80px;
}